.search {
  display: grid;
  row-gap: 25px;
  margin-left: 20px;
  margin: 0;
  width: 995px;;
}

.search-items {
  display: grid;
  grid-template-columns: 220px 1fr;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  column-gap: 20px;
}
.search img {
  object-fit: cover;
  width: 95%;
  height: 95%;
}
.distance div {
  margin: 10px 0;
}
.btn-see {
  float: right;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: rgba(37, 37, 218, 0.822);
  color: white;
}
.btn-see:hover{
    opacity: 0.6;
    cursor: pointer;
}
.rate-tag {
  color: #fff;
  background-color: green;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px;
}
.title,
.title-1,
.title-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title p {
  font-size: 20px;
  font-weight: 600;
  margin:0;
}

.title span {
  border: 1px solid;
  background-color: blue;
  color: #fff;
  padding: 5px;
  font-weight: bold;
}
.price{
    font-size: 30px;
}
.title-2 p{
    color: green;
    font-weight: 700;
}
.title-2 span{
    opacity: 0.4;
}
.title-3 p{
    color: goldenrod;
}
