
.category-items {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.category-item{
    width: 150px;

}

.category-image img {
    width: 150px;
    height: 125px;
    border-radius: 15px;
}
.category-item h6{
    font-size: 13px;
    font-weight: 100 ;

}
.category-item h4{
color: brown;
}