
.category-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.category-item{
    width: 310px;
}

.category-image img {
    width: 197px;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.category-item h6{
    font-size: 13px;
    font-weight: 100 ;

}
.category-item h4{
color: brown;
}