
.category-items {
    display: flex;
    flex-direction: row;
}

.category-item{
    width: 310px;
}

.category-image img {
    width: 300px;
    height: 160px;
    border-radius: 15px;
}
.category-item h6{
    font-size: 13px;
    font-weight: 100 ;

}
.category-item h4{
color: brown;
}