.detail{
    padding: 50px 0px;
}

.detail-header{
    display: flex;
    justify-content: space-between;
}
.detail-header ul li{
    margin: 10px 0;
}
.detail-header ul li:first-child{
    font-size: 1.8rem;
    font-weight: 600;
}
.detail-header ul li svg{
    margin-right: 10px;   
}
.detail-header ul li:nth-child(3){
    color: blue;
    font-size: 1.3rem;
}
.detail-header ul li:nth-child(4){
    color: goldenrod;
    font-weight: 600;
}
.detail-header button{
    color: #fff;
    padding:15px 20px;
    background-color: #4a4aca;
    border-radius: 10px;
    border: 1px #fff;
    font-size: 15px;
    font-weight: 600;
}
.detail-header button:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* list Image */

.list-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.list-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* footer */

.detail-footer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 10px;
    column-gap: 10px;
    row-gap: 20px;
}
.detail-footer-left p:first-child{
    margin: 30px 0;
    font-size: 30px;
}
.detail-footer-right{
    padding: 20px 20px ;
    background-color: #cdcfde;
}
.detail-footer-right p:first-child{
    opacity: 0.7;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.detail-footer-right p:nth-child(2){
    margin-bottom: 30px;
}
.price-nine{
    font-weight: 700;
    font-size: 1.4rem;
}
.detail-footer-right button{
    margin-top: 25px;
    padding: 15px 9px;
    border: none;
    border-radius: 5px;
    background-color:#4a4aca ;
    color: #fff;
    font-weight: 600;
    width: 100%;
}
.detail-footer-right button:hover{
    opacity: 0.8;
    cursor: pointer;
}


